name: debug

on:
  push:
    branches: [main]
  workflow_dispatch:
  
jobs:
  build-ipa:
    runs-on: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Build IPA
        run: |
          make release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4.6.0
        with:
            name: WebViewTemplate
            path: WebViewTemplate.ipa
